body {
  background: #000
}

.canvas-border {
  margin: 50px auto;
  border: 1px solid #333;
  background: #101010;
  width: 800px;
  height: 800px;
  position: relative;
  overflow: hidden;
}

.canvas-border #canvas {
  position: absolute;
  bottom: 0;
  left: 0;
}

.block {
  width: 32px;
  height: 37px;
  background-image: url(./block3.png);
  background-size: cover;
  position: absolute;
  bottom: 0;
  left: 0;
}
